.app {
  font-family: Polaris, sans-serif;
  color: #222222;
  font-size: 100%;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}