* {
    box-sizing: border-box;
}

.ff-header {
    overflow: hidden;
    background-color: white;
    padding: 10px;
    position: relative;
    width: 92%;
    margin: 0 auto;
    min-height: 50px;
}

.ff-header-help {
    right: -10px;
    font-family: Polaris, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    list-style: none;
    position: absolute;
    top: 0px;
    padding: 13px;
    margin: 0px;
}
.ff-header .ff-logo {
    width: 360px;
}

.align-self-center {
    align-self: center !important;
}
img {
    border-style: none;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}



.home {
    color: #222222;
}

.d-sm-flex {
    display: flex !important;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.img__phone {
    width: 15px;
    margin-top: -3px;
}

.ff-header-help > li:first-child {
    font-family: Polaris-Condensed-Bold;
    letter-spacing: 0.2em;
    font-size: 13px;
    margin-top: 1px;
}

.ff-header-help > li {
    float: left;
    padding-left: 20px;
}

.d-md-block {
    display: block !important;
}

.ff-header-help a {
    color: inherit;
}
