* {
    box-sizing: border-box;
}

.section {
    display: block;
}

.joao-style {
    background-color: #ececec;
}

.joao2-style {
    text-align: center;
    margin-bottom: 60px;
}

.joao3-style {
    margin-bottom: 22px;
}

.joao4-style {
    font-size: 13px;
    margin-bottom: 13px;
}

.joao5-style {
    width: 80px;
}

.joao6-style {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.joao7-style {
    border: none;
}

.joao8-style {
    margin-bottom: 70px;
}

.joao9-style {
    font-size: 13px;
    display: block;
    margin: 0;
    padding-top: 25px;
}

.joao10-style {
    margin-bottom: 12px;
}

.joao11-style {
    font-family: Polaris, sans-serif;
    font-size: 13px;
    width: 92%;
}

.joao12-style {
    font-weight: bold;
    font-family: Polaris-Bold, sans-serif;
    font-size: 36px;
}

.joao13-style {
    margin-bottom: 40px;
}

.joao14-style {
    width: 97%;
    text-align: center;
}

.joao15-style {
    margin-bottom: 0px;
}

.ff-cb-brand, .ff-cb-price {
    font-family: 'Polaris-bold';
}

p.ff-rating {
    font-size: 11px !important;
}

.heromask2 {
    width: 92%;
    margin: auto;
    margin-bottom: 70px;
}

.p-2 {
    padding: .5rem !important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

.m-0 {
    margin: 0 !important;
}

p {
    font-family: Polaris, sans-serif;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.font-p-bold {
    font-family: Polaris-Bold, sans-serif;
    font-weight: bold;
}

.pl-1, .px-1 {
    padding-left: .25rem !important;
}

.pr-1, .px-1 {
    padding-right: .25rem !important;
}

.heromask2 img {
    width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.ff-section-top {
    margin-top: 48px;
}

.container {
    max-width: 720px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.ff-title {
    margin-bottom: 24px;
}

.intro {
    overflow: hidden;
    height: auto;
    position: relative;
    margin: auto;
    margin-bottom: auto;
    font-family: Polaris-Bold, sans-serif;
    font-size: 24px;
    font-weight: Bold;
    color: rgba(34, 34, 34, 1.0);
    line-height: 35.0px;
}

.p-0 {
    padding: 0 !important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}

.btn.ff-cta {
    font-family: Polaris;
    font-size: 15px;
    height: 45px;
    min-width: 250px;
    padding: 10px 36px;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

button:not(:disabled) {
    cursor: pointer;
}

.btn {
    width: 250px;
    height: 45px;
    font-size: 15px;
    padding-top: 10px;
}

.btn-black {
    color: white;
    background-color: black;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button {
    
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

.ff-section {
    margin-bottom: 48px;
}

.container {
    max-width: 720px;
}

.container {
    max-width: 540px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ff-title {
    margin-bottom: 24px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.howitworks {
    height: auto;
    width: auto;
    position: relative;
    margin: 0;
    font-family: Polaris-Bold, sans-serif;
    font-size: 36.0px;
    font-weight: 700;
    color: rgba(34, 34, 34, 1.0);
    vertical-align: middle;
    text-align: center;
}

.steps {
    width: 100% !important;
}

.steps {
    height: auto;
    width: 300px;
    position: relative;
    margin: auto;
    margin-bottom: auto;
    font-family: Polaris-Bold, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: center;
    line-height: 37.0px;
    vertical-align: middle;
}

.substeps1 {
    height: auto;
    width: 90%;
    position: relative;
    margin: 0;
    margin-bottom: 0px;
    font-family: Polaris, sans-serif;
    font-size: 15.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: center;
    line-height: 27.0px;
    vertical-align: middle;
}

.substeps2 {
    height: auto;
    width: 90%;
    position: relative;
    margin: 0;
    margin-bottom: 0px;
    font-family: Polaris, sans-serif;
    font-size: 15.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: center;
    line-height: 27.0px;
    vertical-align: middle;
}

.substeps3 {
    height: auto;
    width: 85%;
    position: relative;
    margin: 0;
    margin-bottom: 0px;
    font-family: Polaris, sans-serif;
    font-size: 15.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: center;
    line-height: 27.0px;
    vertical-align: middle;
}

.whats-section .container {
    width: 92%;
    max-width: 1440px;
    padding: 0px;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

#img-div {
    width: 100% !important;
    background-color: transparent !important;
}

.mask {
    background-color: rgba(225, 202, 172, 1.0);
    height: 605px;
    width: 96%;
    position: relative;
    margin: auto;
    overflow: hidden;
    left: 28px;
}

#img-div .bg-webp-img.has-no-webp {
    background-image: url("https://secondlife.farfetch.com/img/banners/welcome-left3-new.jpg");
}

#img-div .bg-webp-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ed723f;
}

.whatsin {
    background-color: rgba(255, 255, 255, 0.0);
    top: 376px;
    height: auto;
    width: 100%;
    position: absolute;
    margin: auto;
    font-family: Polaris-Bold, sans-serif;
    font-size: 26.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    vertical-align: middle;
}

.newstuff {
    margin-top: 0px !important;
}

.card {
    margin-bottom: 12px;
}

.card, .card .img-thumbnail {
    border-radius: 0px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.welcome {
    background-color: rgba(255, 255, 255, 0.0);
    height: auto;
    width: 100%;
    position: relative;
    margin: auto;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: Polaris-Bold, sans-serif;
    font-size: 36.0px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1.0);
    text-align: center;
    vertical-align: middle;
}

.ff-section .ff-customer-bags img {
    width: 100%;
}

.ff-section .ff-customer-bags p {
    text-align: center;
    margin: 0;
    font-size: 13px;
}

.center {
    text-align: center;
}

@media (max-width: 575px) {
    .ff-customer-bags .col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 2px !important;
    }
    .ff-customer-bags {
        margin: 0 auto;
        padding: 10px;
    }
}

.ff-h1 {
    margin-bottom: 24px;
    font-family: 'Polaris-Bold';
    font-size: 36.0px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.mt-3, .my-3 {
    margin-top: 1rem !important;
}

.mt-1, .my-1 {
    margin-top: .25rem !important;
}

p.ff-rating {
    font-size: 11px !important;
}

p.p-author {
    font-family: 'Polaris-Bold';
}

.s2-bold {
    font-family: 'Polaris-Bold';
    font-size: 20px;
}

.polaris-bold {
    font-family: 'Polaris-Bold';
}

.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.font-italic {
    font-style: italic !important;
}

.offset-md-3 {
    margin-left: 25%;
}


